<h2>Perfil do Aluno</h2>
<p><strong>Nome:</strong> <%= aluno.nome %></p>
<p><strong>Email:</strong> <%= aluno.email %></p>
<p><strong>CPF:</strong> <%= aluno.cpf %></p>
<p><strong>Aulas Matriculadas:</strong> <%= aluno.aulas %></p>
<p><strong>Horários:</strong> <%= aluno.horarios %></p>
